<h1>Unit index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image_path</th>
            <th>Created_at</th>
            <th>Updated_at</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in units %}
        <tr>
            <td>{{ unit.id }}</td>
            <td>{{ unit.name }}</td>
            <td>{{ unit.description }}</td>
            <td>{{ unit.price }}</td>
            <td>{{ unit.imagePath }}</td>
            <td>
                {{ unit.createdAt ? unit.createdAt|date('Y-m-d H:i:s') : '' }}
            </td>
            <td>
                {{ unit.updatedAt ? unit.updatedAt|date('Y-m-d H:i:s') : '' }}
            </td>
            <td>
                <a
                    href="{{ path('app_unit_show', { id: unit.id }) }}"
                    @click.prevent="loadModal('{{
                        path('app_unit_show', { id: unit.id })
                    }}')"
                    class="text-blue-600 hover:underline"
                >
                    Show
                </a>

                <a
                    href="{{ path('app_unit_edit', { id: unit.id }) }}"
                    @click.prevent="loadModal('{{
                        path('app_unit_edit', { id: unit.id })
                    }}')"
                    class="text-green-600 hover:underline"
                >
                    Edit
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ include("unit/_create_link.html.twig") }}

